<!DOCTYPE html>
<div>
    <p>Documentos legales de rigor</p>
    <!-- Anexo de los documentos legales de rigor del asociado -->
    <label for="fotocop-DUI">Fotocopia (Documento Único de Identidad - DUI): </label><input type="file" accept=".pdf, image*/" id="fotocop-DUI" name="fotocop-DUI" title="Anexar fotocopia de DUI en formato PDF.">
    <label for="fotocop-NIT">Fotocopia (Documento del Número de Identificación Tributaria - NIT): </label><input type="file" accept=".pdf, image*/" id="fotocop-NIT" name="fotocop-NIT" title="Anexar fotocopia de NIT en formato PDF.">
    <label for="fotocop-ISSS">Fotocopia (Documento del Seguro Social): </label><input type="file" accept=".pdf, image*/" id="fotocop-ISSS" name="fotocop-ISSS" title="Anexar fotocopia de documento ISSS en formato PDF.">
    <p>Documentos complementarios</p>
    <!-- Anexo de los documentos complementarios asociado -->
    <label for="fotocop-IVA">Fotocopia (Tarjeta de IVA): </label><input type="file" accept=".pdf, image*/" id="fotocop-IVA" name="fotocop-IVA" title="Anexar fotocopia de tarjeta de IVA en formato PDF.">
    <label for="fotocop-const-salario">Fotocopia (Constancia de Salario): </label><input type="file" accept=".pdf, image*/" id="fotocop-const-salario" name="fotocop-const-salario" title="Anexar fotocopia de constancia de salario en formato PDF."> <br></br>
</div>