<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta lang="es"/>
		<link rel="stylesheet" href="../css/nav.css"/>
	</head>
	<body>
		<nav>
			<div class="layout">
				<div class="menu">
					<div class="logo">
						<span class="logo-im"></span>
					</div>
					<div class="options">
						<button><a>Opcion 1</a></button>
						<button><a>Opcion 2</a></button>
					</div>
					<div class="im">
						<span class="member"></span>
					</div>
				</div>
			</div>
		</nav>
	</div>
</html>