{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sistema Gestor de Asociados: Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&amp;display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static '/iconos/integration.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}"/>
        <a href="https://www.freepik.es/vector-gratis/fondo-hexagonal-oscuro-color-degradado_12804207.htm#query=fondos%20de%20pantalla&position=2&from_view=keyword">Imagen de coolvector</a> en Freepik
        <a href="https://www.flaticon.com/free-icons/integration" title="integration icons">Integration icons created by Freepik - Flaticon</a>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div class="login-container">
                <div class="login-wrapper">
                    <div class="login-layout-img">
                        <div class="login-bg-container">
                        </div>
                    </div>
                    <div class="login-box">
                        <div class="loginpage-intro">
                            <h1>SISTEMA GESTOR DE ASOCIADOS</h1>
                            <div class="loginpage-intro-logo">
                                <img src="{% static '/resources/logo_coo.svg' %}" title="Sistema Gestor de Asociados" alt="MOCCI Software" class="login-logo">
                                <h2>PYLON</h2>
                            </div>
                        </div>
                        <div class="loginerrors">
                            <a href="#" id="loginerrormessage" class="accesshide">Su sesión ha excedido el tiempo límite. Por favor, entre de nuevo.</a>
                            <div class="alert alert-danger" role="alert">Su sesión ha excedido el tiempo límite. Por favor, entre de nuevo. </div>
                        </div>
                        <div class="login-from">
                            <form action="/sistema_gestor_asociados/validate.php" method="post" id="login">
                                <div class="form-group my-0">
                                    <label for="username" class="sr-only">
                                            Nombre de usuario
                                    </label>                                
                                    <input type="text" name="username" id="username" class="form-control form-control--username" value="" placeholder="Nombre de usuario" autocomplete="username">
                                </div>
                                <div class="form-group my-1">
                                    <label for="password" class="sr-only">Contraseña</label>
                                    <input type="password" name="password" id="password" value="" class="form-control form-control--password" placeholder="Contraseña" autocomplete="current-password">
                                </div>
                                <div class="form-group my-1">
                                    <a href="/sistema_gestor_asociados/registro/">Registrarse</a>
                                </div>
                                <button type="submit" class="btn-lg-primary" id="loginbtn">Acceder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>