<!DOCTYPE html>
<html>
  <head>
    <title>Beneficiarios</title>
    {% include "nav.html" %}
  </head>
  <body>
    <div class="comun">
      <div class="form-container">
        <form class="form" action="/sistema_gestor_asociados/ingresar_solicitud" method="post">
          <label class="labelTitulo">
            Datos Beneficiario: <br>
          </label>
          <label class="label" for="beneficiario-nombre">
            Nombre: <br>
          </label>
            <input class="input" type="text" name="beneficiario-nombre" id="beneficiario-nombre" title="beneficiario-nombre" placeholder="Nombre del beneficiario"/>
          <label class="label" for="beneficiario-parentesco">
            <br> Parentesto: <br>
          </label>
          <select class="input" form="beneficiario-parentesco" id="beneficiario-parentesco" title="beneficiario-parentesco" aria-placeholder="Seleccione una">
            {% for parentesco in parentescos %}
              <option value="{{ parentesco.id }}">{{ parentesco.nombre }}</option>
            <option value="1">Padre</option>
            <option value="2">Madre</option>
            <option value="3">Hijo/a</option>
            <option value="4">Hermano/a</option>
            <option value="5">Primo/a</option>
            <option value="6">Abuelo/a</option>
            <option value="7">Tío/a</option>
            <option value="8">Otro</option>
            {% endfor  %}
          </select>
          <label class="label" for="beneficiario-edad">
            <br>  Edad: <br>
          </label>
            <input class="input" type="number" name="beneficiario-edad" id="beneficiario-edad" title="beneficiario-edad" placeholder="Edad del beneficiario"/>
          <label class="label" for="beneficiario-porcentaje">
            <br> Porcentaje: 
          </label>
            <input class="input" type="number" name="beneficiario-porcentaje" id="beneficiario-porcentaje" title="beneficiario-porcentaje" placeholder="Porcentaje del beneficiario"/>
          <label class="label" for="beneficiario-partida">
            <br> Partida de Nacimiento: 
          </label>
            <input class="input" type="file" name="beneficiario-partida" id="beneficiario-partida" title="beneficiario-partida"/>
          <label class="label" for="beneficiario-dui">
            <br>  DUI: 
          </label>
            <input class="input" type="text" name="beneficiario-dui" id="beneficiario-dui" title="beneficiario-dui" placeholder="Dui del beneficiario"/>
          <!--datos complementarios-->
          <label class="labelTitulo"><br>Datos complementarios </label>
          <label class="label" for="beneficiario-fecha">
            <br> Fecha de Acta: 
          </label>
            <input class="input" type="date" name="beneficiario-fecha" id="beneficiario-fecha" title="beneficiario-fecha" placeholder="Fecha de acta"/>
          <label class="label" for="beneficiario-lugar"><br>Lugar </label>
            <input class="input" type="text" name="beneficiario-lugar" id="beneficiario-lugar" title="beneficiario-lugar" placeholder="Lugar de beneficiario"/>
            <input  type="submit" value="Enviar" class="primary-button">
        </form>
      </div>
    </div>
  </body>
</html>