<!DOCTYPE html>
<html>
    <head>
        {% include "nav.html" %}
    </head>
    <body>
        <div class="comun">
            <section name="actividades">
                <h1>Actividades</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for actividad in actividades %}
                        <tr>
                            <td>{{ actividad.id }}</td>
                            <td>{{ actividad.nombre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section name="generos">
                <h1>Género</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genero in generos %}
                        <tr>
                            <td>{{ genero.id }}</td>
                            <td>{{ genero.nombre }}</td>
                            <td>{{ genero.codigo }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section name="estado_civil">
                <h1>Estado Civil</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estado in estado_civil %}
                        <tr>
                            <td>{{ estado.id }}</td>
                            <td>{{ estado.nombre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section name="paises">
                <h1>Paises</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pais in paises %}
                        <tr>
                            <td>{{ pais.id }}</td>
                            <td>{{ pais.nombre }}</td>
                            <td>{{ pais.codigo }}</td>
                            <td>{{ pais.telefono }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section name="parentesco">
                <h1>Parentesco</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parentesco in parentescos %}
                        <tr>
                            <td>{{ parentesco.id }}</td>
                            <td>{{ parentesco.nombre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <section name="tipos_documento">
                <h1>Tipo de Documentos</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in tipo_documento %}
                        <tr>
                            <td>{{ tipo.id }}</td>
                            <td>{{ tipo.nombre }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </body>
</html>