<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Datos del Conyuge</title>
        {% include "nav.html" %}
    </head>
    <body>
        <div class="comun">
            <div class="form-container">
                <form class="form" action="/sistema_gestor_asociados/ingresar_solicitud/" method="post">
                    <!-- @ID && @PARAMS : patron / name-name
                        #fecha-conyuge
                        #lugar-conyuge
                        #nombres-conyuge
                        #apellidos-conyuge
                        #empresa-conyuge
                        #cargo-conyuge
                        #ubicacion-empresa-conyuge
                        #tipo-documento-conyuge
                        #numero-identidad-conyuge
                        #tel-pais-personal-conyuge
                        #tel-personal-conyuge
                        #tel-pais-oficina-conyuge
                        #tel-oficina-conyuge
                        #email-conyuge
                    -->
                    <!-- #Datos Personales -->
                    <label for="/" class="labelTitulo">Datos del Cónyuge</label>
                    <label class="label" for="fecha-conyuge">
                        Fecha de Nacimiento:
                    </label>
                        <input class="input" type="date" name="fecha-conyuge" id="fecha-conyuge" title="Fecha de Nacimiento" required>
                    <label class="label" for="lugar-conyuge">
                        Lugar de Nacimiento:
                    </label>
                        <input class="input" type="text" name="lugar-conyuge" id="lugar-conyuge" title="" placeholder="Lugar de Nacimiento" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="40" required>
                    <label class="label" for="nombres-conyuge">
                        Nombres:
                    </label>
                        <input class="input" type="text" name="nombres-conyuge" id="nombres-conyuge" title="" placeholder="Nombres del Cónyuge" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="32" required>
                    <label class="label" for="apellidos-conyuge">
                        Apellidos:
                    </label>
                        <input class="input" type="text" name="apellidos-conyuge" id="apellidos-conyuge" placeholder="Apellidos del Cónyuge" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="32" required>
                    <label class="label" for="empresa-conyuge">
                        Empresa donde trabaja:
                    </label>
                        <input class="input" type="text" name="empresa-conyuge" id="empresa-conyuge" title="Nombre de la Empresa" placeholder="Nombre de la Empresa/Institución" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="32" required>
                    <label class="label" for="cargo-conyuge">
                        Cargo:
                    </label>
                        <input class="input" type="text" name="cargo-conyuge" id="cargo-conyuge" title="Cargo que desempeña dentro de la empresa" placeholder="Cargo ejercido" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="32" required>
                    <label class="label" for="ubicacion-empresa-conyuge">
                        Ubicación de la Empresa:
                    </label>
                        <input class="input" type="text" name="ubicacion-empresa-conyuge" id="ubicacion-empresa-conyuge" title="Dirección de la Empresa" placeholder="Dirección de la empresa" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="40" required>
                    <!-- #Fin de datos personales -->
                    <!-- #Datos Legales-->
                    <label class="label" for="tipo-documento-conyuge">
                        Tipo de Documento:
                    </label>
                        <select class="input" id="tipo-documento-conyuge" name="tipo-documento-conyuge" title="Seleccione un tipo de Documento" required>
                        </select>
                    <label class="label" for="numero-identidad-conyuge">
                        Número de Identidad:
                    </label>
                        <input class="input" type="text" name="numero-identidad-conyuge" id="numero-identidad-conyuge" title="Número de Identidad #" placeholder="Número de Identidad" pattern="[0-9]+" minlength="5" required>
                    <!-- #Fin de datos legales -->
                    <!-- #Datos de contacto -->
                    <label class="label" for="tel-pais-personal-conyuge">
                        Codigo del País:
                    </label>
                        <select class="input" id="tel-pais-personal-conyuge" name="tel-pais-personal-conyuge" title="Seleccione el codigo del País" required>
                        </select>
                    <label class="label" for="tel-personal-conyuge">
                        Télefono personal:
                    </label>
                    <input class="input" type="tel" name="tel-personal-conyuge" id="tel-personal-conyuge" title="Un número de teléfono válido consiste de cuatro dígitos 
                    con un (-) seguido y cuatro dígitos más" placeholder="9999-4444" pattern="[0-9]{4}[ -][0-9]{4}" minlength="9" maxlength="9" required>
                    <label class="label" for="tel-pais-oficina-conyuge">
                        Codigo del País
                    </label>
                        <select class="input" id="tel-pais-oficina-conyuge" name="tel-pais-oficina-conyuge" title="" placeholder="" required>
                            <option>Opcion 1</option>
                        </select>
                    <label class="label" for="tel-oficina-conyuge">
                        Télefono de Oficina:
                    </label>
                        <input class="input" type="tel" name="tel-oficina-conyuge" id="" title="Un número de teléfono válido consiste de cuatro dígitos
                    con un (-) seguido y cuatro dígitos más" placeholder="7777-3333" pattern="[0-9]{4}[ -][0-9]{4}" minlength="9" maxlength="9" required>
                    <!-- #RFC5322 15S@1 REGEX -->
                    <label class="label" for="email-conyuge">
                        Correo Electrónico:
                    </label>
                        <input class="input" type="email" name="email-conyuge" id="email-conyuge" title="Ingrese un Correo Electrónico" pattern="\A(?=[a-z0-9@.! #$%&'*+/=?^_'{|} ~-]{6,254}\z)
                    (?=[a-z 0-9.! #$%&'*+/=?^_'{|} ~-]{1,64}@)
                    [a-z 0-9!#$%&'*+/=?^_'{|} ~-]+(?:\. [a-z0-9!#$%&'*+/=?^_'{|} ~-]+)*
                    @ (?:(?=[a-z0-9-]{1,63}\. )[a-z 0-9](?:[a-z 0-9-]*[a-z 0-9])? \. )+
                    (?=[a-z 0-9-]{1,63}\z)[a-z 0-9](?:[a-z 0-9-]*[a-z 0-9])? \z" placeholder="ejemplo@correo.com" required>
                    <!-- #Fin de datos de contacto -->
                    <input  type="submit" value="Enviar" class="primary-button">
                </form>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
