<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Domicilio</title>
    {% include "nav.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/maps.css' %}">
    <link rel="stylesheet" href="{% static '/css/mapaEstilo.css' %}">
    <script src="{% static 'scripts/ubicacion.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUmnpFJIsdpOpu7d4g7kKv8l_0kq9OTn8&libraries=places&callback=initMap" ></script>
  </head>

  <body>
   
    <div class="comun">
      <div class="form-container">
        <form class="form" action="/sistema_gestor_asociados/ingresar_solicitud/" method="post"></form>
        <label for="autocomplete" class="label">Escriba su dirección</label>
        <div class="map">
          <input type="text" name="" id="autocomplete" class="input">
          <label for="numeroCasa" class="label"><br>Escriba su número de casa o de apartamento</label>
          <input class="input" type="number" id="numeroCasa" title="numeroCasa" name="numeroCasa" placeholder="N Casa o Apt">
          <label class="label" for="usoInmueble"><br>Tipo de uso del inmueble:</label>
          <select class="input" id="usoInmueble" name="usoInmueble" title="" placeholder="" required>
            {% for uso in usoInmueble %}
              <option value="{{ uso.id }}">{{ uso.nombre }}</option>
            {% endfor %}
          </select>
          <label  class="lable"><br><strong> dirección es:</strong> <br> </label>
          <label id="direccion" class="lable"><br></label><br>
          <div id="map" class="map" ></div>
          
        </div>
        
        <input  type="submit" value="Enviar" class="primary-button">
        </form>
      </div>
    </div>
    

    {% include "footer.html" %}
</body>
</html>