<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Domicilio</title>
    {% include "nav.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/maps.css' %}">
    <script src="{% static 'scripts/initMap.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUmnpFJIsdpOpu7d4g7kKv8l_0kq9OTn8&callback=initMap" defer></script>
  </head>
  <body>
    <div class="comun">
      <div class="form-container">
        <form class="form" action="/sistema_gestor_asociados/ingresar_solicitud/" method="post">
          <!-- @ID && @PARAMS : patron / name-name
              #dirección
              #numeroCasaDepartamento
              #usoInmueble
              #tiempoDeEstancia
          -->
          <!-- #Datos Personales -->
          <label for="/" class="labelTitulo">Datos de Domicilio</label>
          <label class="label" for="direccion">
              Direccion:
          </label>
            <input class="input" type="text" name="direccion" id="direccion" title="" placeholder="Ingrese su direccion" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="32" required>
          <label class="label" for="numeroCasaDepartamento">
              Numero de casa o departamento
          </label>
              <input class="input" type="text" name="numeroCasaDepartamento" id="numeroCasaDepartamento" placeholder="Numero de departamento" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="32" required>
          <label class="label" for="usoInmueble">
              Uso inmueble
          </label>
            <select class="input" id="usoInmueble" name="usoInmueble" title="" placeholder="" required>
              {% for uso in usoInmueble %}
                <option value="{{ uso.id }}">{{ uso.nombre }}</option>
              {% endfor %}
            </select>
          <label class="label" for="tiempoDeEstancia">
              Tiempo de Instancia:
          </label>
            <input class="input" type="text" name="tiempoDeEstancia" id="tiempoDeEstancia" placeholder="Tiempo de instancia" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="5" maxlength="32" required>
            <button class="primary-button" id="button" type="button">Mostrar ubicacion</button>
          <!-- #MAPA -->
            <div class="mapDiv" id="mapDiv"></div> 
          <input  type="submit" value="Enviar" class="primary-button">
        </form>
      </div>
    </div>
    {% include "footer.html" %}      
  </body>
</html>