{% extends "base.html"%}

{% block title %}
<title>Error</title>
{% endblock %}

{% block content %}
<div class="global-container">
    <div class="card login-form">
    <div class="card-body">
        <h3 class="card-title text-center">Ha ocurrido un error!</h3>
        <h4 class="card-title text-center">De clic en el enlace proporcionado, para volvel al inicio.</h4>
        <a href="http://127.0.0.1:8000/sistema_gestor_asociados/escritorio/" class="btn btn-success">Volver</a>
        </div>
    </div>
</div>
</div>
{% endblock %}