<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Desktop</title>
    {% include "nav.html" %}
  </head>
  <body>
    <div class="comun">
      <table>
        <thead>
            <tr><th>Id</th><th>Nombres</th><th>Apellidos</th><th>Apellido de Casada</th><th>Nacionalidad</th><th>Fecha de Nacimiento</th></tr>
        </thead>
        <tbody>
          <!-- {% for solicitud in solicitante %} -->
            <tr>1<td>Nombre</td><td>Apellidos</td><td>Appellido C</td><td>Nacionalidad</td><td>Fecha Nacimiento</td><tr>
          <!-- {% endfor %} -->
        </tbody>
      </table>
    </div>
    {% include "footer.html" %}
  </body>
</html>