<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Desktop</title>
    {% include "nav.html" %}
  </head>
  <body>
    <section class="main-container">
      <table>
        <thead>
            <tr><th>Id</th><th>Nombres</th><th>Apellidos</th><th>Apellido de Casada</tr><th>Nacional</th><th>Fecha de Nacimiento</th></tr>
        </thead>
        {% for solicitud in solicitante %}
          <tr><td></td><td></td><td></td><td></td><td></td><tr>
        {% endfor %}
    </section>
  </body>
</html>