<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ingresar Solicitud</title>
        {% include "nav.html" %}
    </head>
    <body>
        <!--#datos personas, datos del cónyuge, actividad economica, referencias, beneficiarios, domicilio, anexos-->
        <body>
            <section class="main-container">
              <div class="cards-container">
                <!-- #Datos personales -->
                <div class="product-card">
                    {% load static %}
                  <img src="{% static 'resources/datos_personales.jpg' %}" alt="" title="Datos Personales">
                  <div class="product-info">
                    <div>
                      <p>PASO I: Ingresar Datos Personales</p>
                      <p>
                        Añada los datos personales del solicitante.
                      </p>
                    </div> 
                  </div>
                </div>
                <!-- #Datos del Conyuge -->
                <div class="product-card">
                  <img src="{% static 'resources/datos_conyuge.jpg' %}" alt="" title="Datos Cónyuge">
                  <div class="product-info">
                    <div>
                      <p>PASO II: Ingresar Datos del Cónyuge</p>
                      <p>
                          Si el solicitante es casado o casada se debe de realizar este paso.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- #Actividad Economica -->
                <div class="product-card">
                  <img src="{% static 'resources/actividad_economica.jpg' %}" alt="" title="Actividad Economica">
                  <div class="product-info">
                    <div>
                      <p>PASO III: Rellenar Datos de Actividad Economica</p>
                      <p>
                          Ingrese los datos correspondientes a la actividad economica del solicitante.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- #Referencias -->
                <div class="product-card">
                  <img src="{% static 'resources/referencias.jpg' %}" alt="" title="Referencias Familiares y Personales">
                  <div class="product-info">
                    <div>
                      <p>PASO IV: Ingresar Referencias</p>
                      <p>
                          Añada las referencias del solicitante.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- #Beneficiarios -->
                <div class="product-card">
                    <img src="{% static 'resources/beneficiarios.jpg' %}" alt="" title="Beneficiarios">
                    <div class="product-info">
                      <div>
                        <p>PASO V: Ingresar Beneficiarios</p>
                        <p>
                            Ingrese las personas fisicas, que recibirán los beneficios.
                        </p>
                      </div>
                    </div>
                  </div>
                <!-- #Domicilio -->
                <div class="product-card">
                  <img src="{% static 'resources/domicilio.jpg' %}" alt="" title="Domicilio">
                  <div class="product-info">
                    <div>
                      <p>PASO VI: Ingresar Domicilio</p>
                      <p>
                          Complete la información correspondiente al domicilio del solicitante.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- #Anexos -->
                <div class="product-card">
                  <img src="{% static 'resources/documentacion.jpg' %}" alt="" title="Documentos">
                  <div class="product-info">
                    <div>
                      <p>PASO VII: Ingresar Documentación Adjunta</p>
                      <p>
                          Adjunte los documentos pedidos, para completar la solicitud.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="" class="boton">Generar Documentación</a>
            </section>
          </body>
    </body>
</html>