<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ingresar Solicitud</title>
        {% include "nav.html" %}
    </head>
    <!-- #datos personas, datos del cónyuge, actividad economica, referencias, beneficiarios, domicilio, anexos-->
    <body>
        <section class="main-container">
            <div class="cards-container">
                <!-- #Datos personales -->
                <a class="product-card" href="/sistema_gestor_asociados/ingresar_solicitud/datos_personales">
                    {% load static %}
                    <img src="{% static 'resources/datos_personales.jpg' %}" alt="" title="Datos Personales">
                    <div class="product-info">
                        <div>
                            <p>PASO I: Ingresar Datos Personales</p>
                            <p>
                                Añada los datos personales del solicitante.
                            </p>
                        </div> 
                    </div>
                </a>
                <!-- #Datos del Conyuge -->
                <a class="product-card" href="/sistema_gestor_asociados/ingresar_solicitud/datos_conyuge">
                    <img src="{% static 'resources/datos_conyuge.jpg' %}" alt="" title="Datos Cónyuge">
                    <div class="product-info">
                        <div>
                            <p>PASO II: Ingresar Datos del Cónyuge</p>
                            <p>
                                Si el solicitante es casado o casada se debe de realizar este paso.
                            </p>
                        </div>
                    </div>
                </a>
                <!-- #Actividad Economica -->
                <a class="product-card" href="/sistema_gestor_asociados/ingresar_solicitud/actividad_economica">
                    <img src="{% static 'resources/actividad_economica.jpg' %}" alt="" title="Actividad Economica">
                    <div class="product-info">
                        <div>
                            <p>PASO III: Rellenar Datos de Actividad Economica</p>
                            <p>
                                Ingrese los datos correspondientes a la actividad economica del solicitante.
                            </p>
                        </div>
                    </div>
                </a>
                <!-- #Referencias -->
                <a class="product-card" href="/sistema_gestor_asociados/ingresar_solicitud/referencias">
                    <img src="{% static 'resources/referencias.jpg' %}" alt="" title="Referencias Familiares y Personales">
                    <div class="product-info">
                        <div>
                            <p>PASO IV: Ingresar Referencias</p>
                            <p>
                                Añada las referencias del solicitante.
                            </p>
                        </div>
                    </div>
                </a>
                <!-- #Beneficiarios -->
                <a class="product-card" href="/sistema_gestor_asociados/ingresar_solicitud/beneficiarios">
                    <img src="{% static 'resources/beneficiarios.jpg' %}" alt="" title="Beneficiarios">
                    <div class="product-info">
                        <div>
                            <p>PASO V: Ingresar Beneficiarios</p>
                            <p>
                                Ingrese las personas fisicas, que recibirán los beneficios.
                            </p>
                        </div>
                    </div>
                </a>
                <!-- #Domicilio -->
                <a class="product-card" href="/sistema_gestor_asociados/ingresar_solicitud/domicilio">
                    <img src="{% static 'resources/domicilio.jpg' %}" alt="" title="Domicilio">
                    <div class="product-info">
                        <div>
                            <p>PASO VI: Ingresar Domicilio</p>
                            <p>
                                Complete la información correspondiente al domicilio del solicitante.
                            </p>
                        </div>
                    </div>
                </a>
                <!-- #Anexos -->
                <a class="product-card" href="/sistema_gestor_asociados/ingresar_solicitud/documentacion">
                    <img src="{% static 'resources/documentacion.jpg' %}" alt="" title="Documentos">
                    <div class="product-info">
                        <div>
                            <p>PASO VII: Ingresar Documentación Adjunta</p>
                            <p>
                                Adjunte los documentos pedidos, para completar la solicitud.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <a href="" class="boton">Generar Documentación</a>
        </section>
    </body>
</html>