<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta lang="es"/>
		<link rel="stylesheet" href="estiloTemplates.css"/>
	</head>
	<body>
		<nav>
			<img src="./iconos/icono.svg" alt="menu" class="menu">
		
			<div class="navbar-left">
			  <img src="./iconos/icono.svg" alt="logo" class="logo">
		
			  <ul>
				<li>
				  <a href="/">INICIO</a>
				</li>
				<li>
				  <a href="/">SÉ SOCIO</a>
				</li>
				<li>
				  <a href="/">ANEXOS</a>
				</li>
				<li>
				  <a href="/">NOSOTROS</a>
				</li>
				<li>
					<a href="/">TU PROCESO</a>
				  </li>
			  </ul>
			</div>
		
			<div class="navbar-right">
			  <ul>
				<li class="navbar-email">MOCCI SOFTWARE</li>
			  </ul>
			</div>
		  </nav>
</html>