<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" lang="es">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&amp;display=swap" rel="stylesheet">
		{% load static %}
		<link type="text/css" rel="stylesheet" href="{% static 'css/estiloTemplates.css' %}">
  	</head>
	<body>
		<nav>
			{% load static %}
			<img src="{% static 'iconos/icono.svg' %}" alt="menu" class="menu">
			<div class="navbar-left">
				{% load static %}
				<img src="{% static './resources/logocoo.svg' %}" alt="logo" class="logo">
				<ul>
					<li>
					<a href="index.html">INICIO</a>
					</li>
					<li>
					<a href="/">SÉ SOCIO</a>
					</li>
					<li>
					<a href="/">ANEXOS</a>
					</li>
					<li>
					<a href="/">NOSOTROS</a>
					</li>
					<li>
						<a href="/">TU PROCESO</a>
					</li>
				</ul>
			</div>
			<div class="navbar-right">
			  <ul>
				<li class="navbar-email">MOCCI SOFTWARE</li>
			  </ul>
			</div>
		</nav>
	</body>
</html>