<!--referencia personal-->
 <div>
    <p>Referencia Personal</p>
    <label for="referenciaP-nombre">Nombre</label><input type="text" name="" id="" title=""/>
    <label for="referenciaP-telefono">Telefono</label><input type="number" name="" id="" title=""/>
    <label for="referenciaP-correo">Correo</label><input type="email" name="" id="" title=""/>
</div>
<!--referencia familiar-->
<div>
    <p>Referencia Familiar</p>
    <label for="referenciaF-nombre">Nombre</label><input type="text" name="" id="" title=""/>
    <label for="referenciaF-telefono">Telefono</label><input type="number" name="" id="" title=""/>
    <label for="referenciaF-correo">Correo</label><input type="email" name="" id="" title=""/>
</div>