<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Datos Personales</title>
    {% include "nav.html" %}
  </head>
  <body>
    <div class="comun">
      <div class="form-container">
        <form class="form" action="/sistema_gestor_asociados/ingresar_solicitud/" method="post">
          <!-- #Referencia Familiar -->
          <label for="/" class="labelTitulo">Referencia Familiar</label>
          <label class="label" for="nombre-referencia-familiar">Nombre:</label>
          <input class="input" type="text" name="nombre-referencia-familiar" id="nombre-referencia-familiar" title="nombreReferencia" placeholder="Nombre de la referencia">
          <label for="tel-familiar-referencia" class="label">Teléfono:</label>
          <input class="input" type="tel" name="tel-familiar-referencia" id="tel-familiar-referencia" title="Un número de teléfono válido consiste de cuatro dígitos 
          con un (-) seguido y cuatro dígitos más" placeholder="9999-4444" pattern="[0-9]{4}[ -][0-9]{4}" minlength="9" maxlength="9" required>
          <label for="email-referencia-familiar" class="label">Correo electrónico:</label>
          <input class="input" type="email" name="email-referencia-familiar" id="email-referencia-familiar" title="Ingrese un Correo Electrónico" pattern="\A(?=[a-z0-9@.! #$%&'*+/=?^_'{|} ~-]{6,254}\z)
          (?=[a-z 0-9.! #$%&'*+/=?^_'{|} ~-]{1,64}@)
          [a-z 0-9!#$%&'*+/=?^_'{|} ~-]+(?:\. [a-z0-9!#$%&'*+/=?^_'{|} ~-]+)*
          @ (?:(?=[a-z0-9-]{1,63}\. )[a-z 0-9](?:[a-z 0-9-]*[a-z 0-9])? \. )+
          (?=[a-z 0-9-]{1,63}\z)[a-z 0-9](?:[a-z 0-9-]*[a-z 0-9])? \z" placeholder="ejemplo@correo.com" required>
          <!-- #Referencia Personal-->
          <label class="labelTitulo" for="/">Referencia Personal</label>
          <label for="nombre-referencia-personal" class="label">Nombre:</label>
          <input class="input" type="text" name="nombre-referencia-personal" id="nombre-referencia-personal" title="nombreReferenciaPersonal" placeholder="Nombre referencia personal">
          <label class="label" for="tel-personal-referencia">Teléfono:</label>
          <input class="input" type="tel" name="tel-personal-referencia" id="tel-personal-referencia" title="Un número de teléfono válido consiste de cuatro dígitos 
          con un (-) seguido y cuatro dígitos más" placeholder="9999-4444" pattern="[0-9]{4}[ -][0-9]{4}" minlength="9" maxlength="9" required>
          <label class="label" for="email-referencia-personal">Correo electrónico:</label>
          <input class="input" type="email" name="email-referencia-personal" id="email-referencia-personal" title="Ingrese un Correo Electrónico" pattern="\A(?=[a-z0-9@.! #$%&'*+/=?^_'{|} ~-]{6,254}\z)
          (?=[a-z 0-9.! #$%&'*+/=?^_'{|} ~-]{1,64}@)
          [a-z 0-9!#$%&'*+/=?^_'{|} ~-]+(?:\. [a-z0-9!#$%&'*+/=?^_'{|} ~-]+)*
          @ (?:(?=[a-z0-9-]{1,63}\. )[a-z 0-9](?:[a-z 0-9-]*[a-z 0-9])? \. )+
          (?=[a-z 0-9-]{1,63}\z)[a-z 0-9](?:[a-z 0-9-]*[a-z 0-9])? \z" placeholder="ejemplo@correo.com" required>
          <input  type="submit" value="Enviar" class="primary-button">
        </form>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>